<footer class="page-footer light-blue darken-1">
    <div class="container">
        <div class="row">
            <div class="col s4">
               <a href="https://github.com/ThomasjNix">
               <img src="./assets/images/github-logo.png" class="circle responsive-img" alt="github-logo">
               </a>
                
            </div>
            
            <div class="col s4 offset-s4">
               <a href="https://www.linkedin.com/in/thomasjnix/">
                <img src="./assets/images/linkedin-logo.png" class="circle responsive-img" alt="github-logo">
               </a> 
            </div>
        </div>
    </div>
</footer>