.row{
    padding-top: 2rem;
    text-align: center;
}

.row .col{
    padding: initial;
}

/* Materialize - Small breakpoint */
@media (max-width: 600px){
    .button-text{
        display: none;
    }
    .btn > i{
        margin-right: 0;
        font-size: 1.5rem;
    }
}

/* Materialize - Medium breakpoint*/
@media (min-width: 992px){
    .row{
        width: 50%;
    }
}