 <div class="row">
            <app-project-item></app-project-item>
            <hr>
            <app-project-item></app-project-item>
            <hr>
            <app-project-item></app-project-item>
            <hr>
            <app-project-item></app-project-item>
            <hr>
            <app-project-item></app-project-item>
            <hr>
            <app-project-item></app-project-item>
            <hr>
            <app-project-item></app-project-item>
            <hr>
            <app-project-item></app-project-item>
            <hr>
            <app-project-item></app-project-item>
            <hr>
            <app-project-item></app-project-item>
            <hr>
            <app-project-item></app-project-item>
            <hr>            
</div>