.content-body{
    max-height: 60vh;
    padding: 1rem;
    overflow-y: scroll;
    overflow-x: hidden;
}
.content-container{
    width: 75%;
    position: fixed;
    left: 12.5%;
}
.content-header{
    text-align: center;
}

.row > .col.m1 > img{
    margin-top: 25%;
}

/* Materialize - Small breakpoint */
@media (max-width: 600px){
    .content-container{
      text-align: center;
    }
    .row p{
        text-align: left;
    }
    
    .row img{
        width: 50%;
    }
}

/* Materialize - Medium breakpoint*/
@media (max-width: 992px){
    .content-container{
        width: 100%;
        left: 0%;
    }
}

/* Materialize - All sizes over medium */
@media (min-width: 993px){
    .row{
        padding: 2rem;
    }
}