.content-body{
    max-height: 60vh;
    padding: 1rem;
    overflow-y: scroll;
    overflow-x: hidden;
}
.content-container{
    width: 66.67%;
    position: fixed;
    left: 16.67%;
}
.content-header{
    text-align: center;
}


/* Materialize - Small breakpoint */
@media (max-width: 600px){
    .content-container{
        width: 100%;
        left: 0;
    }
}

/* Materialize - Medium breakpoint*/
@media (max-width: 992px){
    .content-container{
        width: 80%;
        left: 10%;
    }
}