<!--About Me content template-->

<div class="content-container">
    <h3 class="content-header">HEADER</h3>
    <div class="content-body">
        <div class="row">
            <div class="col s12 m4 category">
                <span>Lorem Ipsum</span>
            </div>
            <div class="col sm12 m8 detail">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer fermentum a velit quis pulvinar. Nam id lacus a sem aliquet porta eu at erat. Fusce at lobortis massa, non pharetra felis. </p>
            </div>
            <hr>
            <div class="col s12 m4 category">
                <span>Lorem Ipsum</span>
            </div>
            <div class="col sm12 m8 detail">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer fermentum a velit quis pulvinar. Nam id lacus a sem aliquet porta eu at erat. Fusce at lobortis massa, non pharetra felis. </p>
            </div>
            <hr>
            <div class="col s12 m4 category">
                <span>Lorem Ipsum</span>
            </div>
            <div class="col sm12 m8 detail">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer fermentum a velit quis pulvinar. Nam id lacus a sem aliquet porta eu at erat. Fusce at lobortis massa, non pharetra felis. </p>
            </div>
            <hr>
            <div class="col s12 m4 category">
                <span>Lorem Ipsum</span>
            </div>
            <div class="col sm12 m8 detail">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer fermentum a velit quis pulvinar. Nam id lacus a sem aliquet porta eu at erat. Fusce at lobortis massa, non pharetra felis. </p>
            </div>
            <hr>
            <div class="col s12 m4 category">
                <span>Lorem Ipsum</span>
            </div>
            <div class="col sm12 m8 detail">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer fermentum a velit quis pulvinar. Nam id lacus a sem aliquet porta eu at erat. Fusce at lobortis massa, non pharetra felis. </p>
            </div>
            <hr>
            <div class="col s12 m4 category">
                <span>Lorem Ipsum</span>
            </div>
            <div class="col sm12 m8 detail">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer fermentum a velit quis pulvinar. Nam id lacus a sem aliquet porta eu at erat. Fusce at lobortis massa, non pharetra felis. </p>
            </div>
            <hr>
            <div class="col s12 m4 category">
                <span>Lorem Ipsum</span>
            </div>
            <div class="col sm12 m8 detail">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer fermentum a velit quis pulvinar. Nam id lacus a sem aliquet porta eu at erat. Fusce at lobortis massa, non pharetra felis. </p>
            </div>
            <hr>
            <div class="col s12 m4 category">
                <span>Lorem Ipsum</span>
            </div>
            <div class="col sm12 m8 detail">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer fermentum a velit quis pulvinar. Nam id lacus a sem aliquet porta eu at erat. Fusce at lobortis massa, non pharetra felis. </p>
            </div>
            <hr>
            <div class="col s12 m4 category">
                <span>Lorem Ipsum</span>
            </div>
            <div class="col sm12 m8 detail">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer fermentum a velit quis pulvinar. Nam id lacus a sem aliquet porta eu at erat. Fusce at lobortis massa, non pharetra felis. </p>
            </div>
            <hr>
            <div class="col s12 m4 category">
                <span>Lorem Ipsum</span>
            </div>
            <div class="col sm12 m8 detail">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer fermentum a velit quis pulvinar. Nam id lacus a sem aliquet porta eu at erat. Fusce at lobortis massa, non pharetra felis. </p>
            </div>
            <hr>
            <div class="col s12 m4 category">
                <span>Lorem Ipsum</span>
            </div>
            <div class="col sm12 m8 detail">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer fermentum a velit quis pulvinar. Nam id lacus a sem aliquet porta eu at erat. Fusce at lobortis massa, non pharetra felis. </p>
            </div>
            <hr>
            <div class="col s12 m4 category">
                <span>Lorem Ipsum</span>
            </div>
            <div class="col sm12 m8 detail">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer fermentum a velit quis pulvinar. Nam id lacus a sem aliquet porta eu at erat. Fusce at lobortis massa, non pharetra felis. </p>
            </div>
            <hr>
            <div class="col s12 m4 category">
                <span>Lorem Ipsum</span>
            </div>
            <div class="col sm12 m8 detail">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer fermentum a velit quis pulvinar. Nam id lacus a sem aliquet porta eu at erat. Fusce at lobortis massa, non pharetra felis. </p>
            </div>
            
        </div>
    </div>
</div>


<!--Project Template, TODO: Load projects, dynamically create app-project components-->


<!--Contact content template-->